/* Handles */
  
  .handle-label {
    position: absolute;
    background: white;
    padding: 4px 4px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 12px;
  }
  .handle-icon{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .handle-icon .handle-icon-circle{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #4ade80;
  }
  .handle-icon .handle-icon-line{
    display: inline-block;
    width: 10px;
    height: 2px;
    border-radius: 2px;
    background-color: #4ade80;
  }
  
  .handle-left {
    padding: 10px;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .handle-right {
    padding: 10px;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
  }