.flow-node {
  width: 420px;
  background: #fff;
  border-radius: 16px;
  padding: 0;
  border: 2px solid;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  font-family: system-ui, sans-serif;
  pointer-events: all;
}

/* 绿色主题 */
.flow-node.green {
  border-width: 3px;
  border-color: #8df58d;
}
.flow-node.green .node-header {
  border-bottom: 2px solid #8df58d;
}

/* 蓝色主题 */
.flow-node.blue {
  border-width: 3px;
  border-color: #7ab8ff;
}
.flow-node.blue .node-header {
  border-bottom: 2px solid #7ab8ff;
}

/* Header */
.node-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 2px solid #eee;
}

.node-title-left {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.node-title {
  font-size: 16px;
}

.node-icon {
  font-size: 18px;
}

.node-timer {
  font-size: 12px;
  opacity: 0.7;
  display: flex;
  align-items: center;
  gap: 4px;
}

.node-run-btn {
  border: none;
  cursor: pointer;
  font-size: 30px;
  border-radius: 100%;
}
.node-run-btn-icon {
  color: #7b7b7b;
  background: rgb(6, 184, 6);
  border-radius: 100%;
}

/* Body */
.node-body {
  padding: 16px;
}

.node-section {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}
.node-section label {
  font-weight: bold;
}

.node-label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.node-label-row label {
  font-weight: bold;
}
.node-label-row .small-btn {
  border-radius: 10px;
  font-size: 12px;
  border: 1px solid #ddd;
}

.node-textarea-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 12px;
  /* padding: 8px; */
}

.node-textarea {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 0;
  margin: 0;
  border-width: 1px;
  text-indent: 12px;
  place-content: space-around;
}

.node-select {
  margin-top: 12px;
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #ddd;
}

.model-box {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 10px 10px;
  flex-wrap: wrap;
}

.add-model {
  background: #626161;
  color: #fff;
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
}

.model-tag {
  background: #fff;
  border-radius: 8px;
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #626161;
}
